.login {
    background: url('https://cdn-www.bluestacks.com/bs-images/trivia-crack-2_banner.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.formulario {

}