.config {
    display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(16, 192, 139);
  height: 768px;
  position: absolute;
  width: 100%;
  font-size: 20px;
}

.login-page {
    position: fixed;
    bottom: 10%;
    text-decoration: underline;
    color: rgb(21, 11, 198);
}