.feedback {
    display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(16, 192, 139);
  height: 560px;
  position: absolute;
  width: 100%;
  font-size: 22px;
  text-align: center;
  overflow: visible;

  
}

.feedback-text {
    
}
.feedback-assertions-score {
    margin-top: 100px;
    background-color: rgb(3, 10, 59);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    opacity: 0.95;
    border-radius: 10px;
    box-shadow: inset 0 0 1em rgb(84, 1, 156);
    width: 500px;
    color: white;
    margin-left: 40px;
}

.btn-ranking {
    text-decoration: underline;
    color: rgb(21, 11, 198);
    display: flex;
    text-align: center;    
    position: absolute;
    bottom: 7%;
    left: 49%;
    font-size: 20px;

}

.feedback-color {
    background-color:rgb(16, 192, 139);
}

.btn-play-again {
    margin-left: 50px;
}

.cabecalho {
padding-top: 40px;}