.feedback {
  align-items: center;
  background-color: rgb(16, 192, 139);
  display: flex;
  flex-direction: column;
  font-size: 22px;
  height: 560px;
  overflow: visible;
  position: absolute;
  text-align: center;
  width: 100%;
}

.feedback-assertions-score {
  align-items: center;
  background-color: rgb(3, 10, 59);
  border-radius: 10px;
  box-shadow: inset 0 0 1em rgb(84, 1, 156);
  color: white;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-top: 100px;
  opacity: 0.95;
  text-align: center;
  width: 500px;
}

.btn-ranking {
  bottom: 7%;
  color: rgb(21, 11, 198);
  display: flex;
  font-size: 20px;
  left: 49%;
  position: absolute;
  text-align: center;
  text-decoration: underline;
}

.feedback-color {
  background-color: rgb(16, 192, 139);
}

.btn-play-again {
  margin-left: 50px;
}

.cabecalho {
  padding-top: 40px;
}
