.cabecalho {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: monospace;
  justify-content: center;
  margin-left: 0%;
  text-align: center;
  width: 100%;
}

.header-player-name {
  font-size: 22px;
  margin-top: 5px;
  width: 220px;
}

.header-score {
  font-size: 22px;
  margin-top: 5px;
  width: 220px;
}
