.login {
  background: url('https://cdn-www.bluestacks.com/bs-images/trivia-crack-2_banner.jpg') no-repeat center center fixed;
  background-size: cover;
}

.form {
  margin-top: 330px;
}

.formulario {
  background-color: rgb(16, 192, 139);
  border-radius: 05%;
  box-shadow: 0 0 0.4em rgb(203, 203, 203);
  margin-top: -150px;
  text-align: center;
}

.config-button {
  color: rgb(26, 103, 180);
  margin-bottom: 5px;
  text-decoration: underline;
}

.name-input {
  margin-left: -15px;
}

.email-input {
  margin-left: -15px;
}
